[user]
    name = Alex
    email = tobiasbarnes92@users.noreply.github.com
[core]
    editor = vim
    autocrlf = input
[pull]
    rebase = true
[alias]
    st = status
    co = checkout
    ci = commit
